*{
    box-sizing: border-box;
}
html
,body{ 
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #151F32;
    font-size: 12px;
    line-height: 19px;
}
.header__container,
.container__wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 24px;
}
.header__container{
    background-color: #FAFAFA;
    margin-bottom: 180px;
}
.header__top-line{
    padding:0 100px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}
.header__top-line a{
    text-decoration: none;
    color: inherit;
}
.nav{
    padding-top: 5px;
}
.nav a{
    margin-right: 80px;
    position: relative;
}
.nav a:first-child{
    margin-left: 230px;
}
.nav a:last-child{
    margin-right: none;
}
.nav a::before{
    content:" ";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #151F32;
    top: 18px;
    left: 0;
    transition-timing-function: ease;
    transition-duration: .5s;
}
.nav a:hover::before{
    width: 50%;
}
.sing__up-block{
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    position: relative;
}
.sing__up-block img{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.header__middle-box{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}
.left__box{
    text-align: left;
}
.left__box h3{
    font-size: 110px;
    line-height: 132px;
    color: #032F48;
    font-weight: 900;
    position: relative;
    left: 94px;
    top: -60px;
}
.left__box h3::before{
    content:" ";
    position: absolute;
    width: 0px;
    height: 15px;
    left: 8px;
    bottom: -15px;
    background-color: #032F48;
    transition-timing-function: ease;
    transition-duration: .5s;
}
.left__box h3:hover::before{
    width: 85px;
}
.left__box h3::after{
    content:" ";
    position: absolute;
    width: 13%;
    height: 9%;
    right: 70px;
    top: 51px;
    background-color: #032F48;   
}
.left__box-inner{
    position: relative;
    color: #344159;
    font-weight: 500;
    font-size: 12px;
    top: 45px;
    line-height: 23px;
}
.left__box-inner p{
    max-width: 194px;
    max-height: 66px;
    margin-left: 100px;
}
.tools__box{
    background-color: #032F48;
    display: block;
    position: absolute;
    width: 51px;
    height: 48px;
    right: -245px;
    top: 0;
    cursor: pointer;
}
.tools__box::after{
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../image/tools__icon.svg);
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-left: 18px;
}
.right__box{
    background-color: #032F48;
    width: 565px;
    height: 492px;
    padding-top: 56px;
    color: #FCD3AC;
    position: relative;
    overflow: hidden;
}
.right__box h3{
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left: 76px;
}
.right__box p{
    max-width: 190px;
    min-height: 66px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    margin-left: 69px;
    position: relative;
}
.right__box p::before{
    content: ' ';
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: url(../image/Vector__stop.svg);
    bottom: -60px;
    left: 0;
    cursor: pointer;
}
.right__box p::after{
    content: ' ';
    position: absolute;
    width: 24px;
    height: 18px;
    background-image: url(../image/Vector__next.svg);
    bottom: -63px;
    left: 40px;
    cursor: pointer;
}
.right__box .blue__block{
    width: 207px;
    height: 207px;
    background-color:  #78C9C0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.right__box::before{
    content: " ";
    position: absolute;
    width: 670px;
    height: 500px;
    bottom: -185px;
    right: -335px;
    background-color: #F1552C;
    z-index: 1;
    transform: matrix(0.7, -0.71, -0.71, -0.7, 0, 0);
}
.right__box::after{
    content: ' ';
    position: absolute;
    width: 383px;
    height: 701px;
    background-color: #F9BA51;
    bottom: -550px;
    left: -105px;
    transform: matrix(0.7, -0.71, -0.71, -0.7, 0, 0);
    z-index: 0;
}
.right__box button{
    position: relative;
    height: 48px;
    width: 133px;
    right: 0px;
    top: 163px;
    border: none;
    background-color: #fff;
    z-index: 5;
    color: #151F32;
    cursor: pointer;
}
.right__box button a{
    text-decoration: none;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    color: inherit;
}
.right__box button a:hover{
    color: #F9BA51;
}
.header__bottom-line{
    margin-top: 50px;
    font-weight: 900;
    padding-left: 168px;
    padding-right: 100px;
    font-size: 22px;
    line-height: 26px;
    color: #C2C2C2;
}
.header__bottom-inner{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.past__inner{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 166px;
}
.past__left-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 0;
}
.past__box,
.present__box,
.fearure__box{
    width: 210px;
    height: 210px;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
}
.past__box h3,
.present__box h3,
.fearure__box h3{
    font-size: 24px;
    font-weight: 700;
}
.decoration__block{
    position: relative;
    width: 112px;
    height: 7px;
    background-color: #032F48;
    top: 50%;
    left: 50%;
}
.past__box{
    background-color: #F9BA51;
}
.present__box{
    background-color:  #78C9C0;
}
.fearure__box{
    background-color: #E75A31;
}
.number{
    position: absolute;
    font-size: 95px;
    font-weight: 900;
    right: -10px;
    bottom: -41%;
    color: rgba(255, 255, 255, 0.5);
}
.past__right-block{
    color: #032F48;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}
.past__right-block h2,
.new__right-block h2{
    font-weight: 900;
    font-size: 110px;
    line-height: 132px;
    position: relative;
    top: -55px;
    left: -10px;
}
.right-block h2::before{
    content: "branding projects";
    position: absolute;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #DDDFE0;
    right: 10px;
    bottom: 0;
}
.past__right-block .right__block-text ,
.new__right-block .new__right-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    max-width: 190px;
    max-height: 66px;
    margin-bottom: 38px;
    position: relative;
    top: -105px;
}
.past__right-block button,
.new__right-block button{
    border: none;
    background-color: #151F32;
    width: 139px;
    height: 49px;
    color: #Fff;
    position: relative;
    top: -100px;
}
.past__right-block button::after{
    content: " ";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: #151F32;
    left: 300%;
    top: calc(49px - 50%);    
}
.past__right-block button a,
.new__right-block button a{
    text-decoration: none;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    color: inherit;
}
.new__left-block,
.new__right-block{
    position: relative;
    right: 30px;
}
.new__right-block{
    bottom: 20px;
}
.new__inner{
    display: flex;
    justify-content: center;
}
.new__inner .new__left-block{
    min-width: 442px;
    height: 440px;
    background-image: url(../image/New__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 59px 115px 58px 0.5px;
    margin-right: 82px;
}
.new__left-block .new__leftbox-inner{
    width: 362px;
    height: 325px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    color: #151F32;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 5px;
    position: relative;
}
.new__leftbox-inner::before{
    content: '';
    position: absolute;
    width: 56px;
    height: 7px;
    background-color: #151F32;
    left: -56px;
    top: 13%;
}
.new__leftbox-inner h5{
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
}
.new__leftbox-inner p{
    position: relative;
    max-width: 178px;
    font-size: 12px;
    line-height: 19px;
    top: -20px;
}
.new__leftbox-inner .data__block{
    display: flex;
    justify-content: flex-start;
}
.data__block .left__block{
    margin-right: 63px;
}
.left__block p,
.right__block p{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    top: -35px;
}
.income, .expence{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    position: relative;
    top: -45px;
    color: #919193;
}
.income::after, .expence::after{
    content: " ";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #151F32;
    left: 0;
    bottom: -10px;
}
.expence::after{
    background-color: #E75A31;
}
.new__leftbox-inner img{
    display: block;
    width: 277px;
    height: 108px;
    position: relative;
    top: -15px;
}
.new__leftbox-inner img::before{
    content: 'med';
    position: absolute;
    z-index: 3;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    bottom: 45%;
    left: 130px;
    transform: rotate(-90deg);

}
.new__right-text{
    max-width: 190px;
    height: 66px;
}
.new__right-block button{
    position: relative;
    top: -160px;
}
.new__right-block button::before{
    content: ' ';
    position: absolute;
    width: 34px;
    height: 7px;
    background-color: #151F32;
    right: 138%;
    top: calc(50% - 7px);
}
.footer__inner{
    padding: 0 320 46px 160px;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
}
.footer__inner .first__column-footer li,
.footer__inner .second__column-footer li,
.footer__inner .third__column-footer li,
.footer__inner .fourth__column-footer li{
    list-style: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
.footer__inner .first__column-footer li:first-child,
.footer__inner .second__column-footer li:first-child,
.footer__inner .third__column-footer li:first-child,
.footer__inner .fourth__column-footer li:first-child{
    font-weight: bold;
    margin-bottom: 16px;
}
.footer__inner .first__column-footer a,
.footer__inner .second__column-footer a,
.footer__inner .third__column-footer a,
.footer__inner .fourth__column-footer a{
    text-decoration: none;
    color: inherit;
}
.first__column-footer p{
    margin-top: 15px;
    max-width: 198px;
    max-height: 40px;
    color: #151F32;
}
.first__column-footer a{
    display: block;
    margin-top: 15px;
}